<template>
  <section class="login">
    <div class="wrapper d-flex align-items-center auth login-full-bg">
      <div class="row w-100">
        <div class="col-lg-6 mx-auto">
          <div class="auth-form-dark text-left p-5">
            <h2>Iniciar sesion</h2>
            <h4 class="font-weight-light">Hello! let's get started</h4>
            <form @submit.prevent="handleSubmit" class="pt-5" >
              <div class="form-group">
                <label for="exampleInputEmail1">Usuario</label>
                <input v-model="email" :class=" { 'is-invalid': submited && !email} " type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                <i class="mdi mdi-account"></i>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Contreseña</label>
                <input v-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                <i class="mdi mdi-eye"></i>
              </div>
              <div class="mt-5">
                <input type="submit" name="" value="Iniciar Sesion">
              </div>
              <div class="mt-3 text-center">
                <a href="#" class="auth-link text-white">Forgot password?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  name: 'Login',
  created() {
    this.logout();
  },
  data() {
    return {
      email: '',
      password: '',
      submited: false
    }
  },
  computed: {
    ...mapState('account', ['status'])
  },
  methods: {
    ...mapActions('account', [ 'login' , 'logout']),
    handleSubmit() {
      this.submited = true;
      const { email, password } = this;
      console.log(email);
      if (email && password) {
        this.login({ email, password })
      }
    }
  }
}
</script>

<style lang="css">
.is-invalid {

}

.invalid-feedback{

}

</style>
