<template lang="html">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-left">
              <i class="mdi mdi-cube text-danger icon-lg"></i>
            </div>
            <div class="float-right">
              <p class="card-text text-right">{{ this.title }}</p>
              <div class="fluid-container">
                <h3 class="card-title font-weight-bold text-right mb-0">{{ this.count }}</h3>
              </div>
            </div>
          </div>
          <p class="text-muted mt-3">
            <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'card-statistics',
  props: {
    title: String,
    count: Integer,

  }
}
</script>

<style lang="css">
</style>
