<template>
       <b-card
          :title="this.name_product"
          :img-src="this.img_product"
          img-alt="Image"
          style="max-width: 20rem;">
          <p class="card-text">
        </p>
        <b-button href="#" variant="primary">{{ this.desc_product }}</b-button>
      </b-card>
</template>

<script>
export default {
  name: 'imagecard',
  props: {
    desc_product: String,
    name_product: String,
    img_product: String
  }
}
</script>

<style scoped>
</style>
