<template lang="html">
  <b-container class="bv-example-row">
    <b-row>
      <b-col v-for="item in products" cols="3">
        <imagecard
          v-bind:name_product = "item.name_product"
          v-bind:desc_product = "item.desc_product"
          v-bind:img_product = "item.img_product"/>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import imagecard from 'Components/ImageCard.vue'
import products from '../../_services/productService'

export default {
  name: 'Products',
  components: {
    imagecard
  },
  data () {
    return {
      items: []
    }
  }
}
</script>


<style lang="scss">
</style>
