<template>
  <div id="app">
    <div class="container-scroller">
      <navbar/>
      <div class="container-fluid page-body-wrapper">
        <sidebar v-if="status.loggedIn === true" />
        <div v-bind:class="widthPanel">
          <div class="content-wrapper">
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import navbar from 'Components/Partials/Navbar.vue'
import sidebar from 'Components/Partials/Sidebar.vue'
import footer from 'Components/Partials/Footer.vue'
import { mapState } from 'vuex'

export default {
  name: 'app',
  data () {
    return {
      isLogin: 0,
    }
  },
  components: {
    navbar,
    sidebar,
    footer
  },
  computed: {
    ...mapState('account', ['status']),
    widthPanel: function () {
      return {
        'main-panel': status.loggedIn,
        'main-panel-full': !status.loggedIn
      }
    }
  }
}

</script>

<style>
  @import "../node_modules/mdi/css/materialdesignicons.min.css";
  @import "../node_modules/flag-icon-css/css/flag-icon.min.css";
  @import "../node_modules/font-awesome/css/font-awesome.min.css";
</style>

<style lang="scss">
  @import "./assets/scss/style.scss";

  //Full width
  .main-panel-full {
    width: 100%!important;
    height: 100%!important;
  }
</style>
