<template>
  <div class="container-fluid">
    <div class="row flex-grow">
      <div class="col-md-6 col-sm-12 col-xs-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Crear Producto</h4>
            <p class="card-description">
              Nuevo producto
            </p>
            <form @submit.prevent="newProduct" class="forms-sample">
              <b-form-group label="Categoria"  label-for="input1">
                <b-form-input type="number" v-model="category" id="input1" placeholder="Category"></b-form-input>
              </b-form-group>
              <b-form-group label="Nombre del producto"  label-for="input2">
                <b-form-input type="text" v-model="name" id="input2" placeholder="Nombre del producto"></b-form-input>
              </b-form-group>
              <b-form-group label="Subir un archivo" label-for="input3">
                <b-form-input type="text" v-model="image" id="input3" placeholder="Url del producto"></b-form-input>
                <!-- <b-form-file v-model="file" id="inpu8" :state="Boolean(file)" placeholder="Elige una imagen..."></b-form-file> -->
              </b-form-group>
              <b-button type="submit" variant="success" class="mr-2">Crear</b-button>
              <b-button variant="light">Cancelar</b-button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Mensaje de exito -->
    <b-modal hide-footer ref="myModal" id="modal1" title="Ingreso Exitoso">
     <p class="my-4">Se ingreso con éxito el producto!!</p>
     <b-btn class="mt-3" variant="outline-success" block @click="hideModal">Cerrar</b-btn>
    </b-modal>

    <!-- Mensaje de error -->
    <b-modal hide-footer ref="myModalError" id="modal2" title="Error ingresando">
     <p class="my-4">Hubo un error en el ingreso</p>
     <b-btn class="mt-3" variant="outline-danger" block @click="hideModal">Cerrar</b-btn>
    </b-modal>

  </div>
</template>

<script>
import api from 'api'

export default {
  name: 'new-product',
  data() {
    return {
      category: null,
      name:     null,
      image:    null,
      result:   null
    }
  },
  methods: {
    showModal(){
      this.$refs.myModal.show()
    },
    hideModal () {
      this.$refs.myModal.hide()
   },
    newProduct: function() {
      api.post('products', {
          category_id: this.category,
          name_dish: this.name,
          img_dish: this.image
      })
      .then((res) => {
        this.result = res;
      })
      .then((error) => {
        this.result = error;
        console.log(this.result);
      });
      this.showModal();
    }
  }
}
</script>

<style lang="css">
</style>
